#profile-postbox-wrapper {
	display: block;
}

#postboxbutton {
	display: none;
}

.postbox_button {
	height: 18px;
	width: 18px;
	position: relative;
	left: 285px;
	top: -62px;
	padding: 0;
	border: 0;
	background: none;
}
	.postbox_button > img {
		height: 100%;
		width:  100%;
	}

div.preview-postbox {
	border: 1px solid #AAA;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	left: 285px;
	top: -62px;
	padding: 5px;
	width: fit-content;
}

div.preview-postbox div.pick-postbox {
	height: 100%;
	width:  100%;
	display: block;
}

div.preview-postbox > button {
    ms-appearance: none;
	moz-appearance: none;
	webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	height: 32px;
	width:  32px;
	margin:  5px;
	float: left;
	border-radius: 8px;
	margin: 0 5px 5px 0;
	background: none;
	border: none;
	padding: 0;
	overflow: hidden;
}
/* fix positioning if more than one jot tool */
.jotplugins > div,
#profile-jot-plugin-wrapper > div {
	float: left;
}
	.jotplugins::after,
	#profile-jot-plugin-wrapper::after {
		content: '';
		display: block;
		clear: both;
	}