#profile-postbox-wrapper {
	display: block;
}

#postboxbutton {
	display: none;
	position: fixed;
	background-color: #eee;
	width: auto;
	border-radius: 8px;
	padding: 10px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
	.jotplugins #postboxbutton {
		position: absolute;
	}

.postbox_button {
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.postbox_button > img {
	height: 18px;
	width:  18px;
	cursor: pointer;
}

div.preview-postbox div.pick-postbox {
	height: 100%;
	width:  100%;
	display: block;
}

div.preview-postbox > button {
    ms-appearance: none;
	moz-appearance: none;
	webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	height: 32px;
	width:  32px;
	margin:  5px;
	float: left;
	border-radius: 8px;
	margin: 0 5px 5px 0;
	background: none;
	border: none;
	padding: 0;
	overflow: hidden;
}
	div.preview-postbox > button:hover > div,
	div.preview-postbox > button:focus > div {
		box-shadow: inset 0 0 100px rgba(255,255,255,.2);
	}
/* fix positioning if more than one jot tool */
.jotplugins > div,
#profile-jot-plugin-wrapper > div {
	float: left;
}
	.jotplugins::after,
	#profile-jot-plugin-wrapper::after {
		content: '';
		display: block;
		clear: both;
	}